/*
  Adam Karpovich 314080383
  Veronika Kovaleva 321777583
*/
.calendar-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.calendar-container {
  margin: 20px 0;
}

.appointment-form {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.appointment-form h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.appointment-form input,
.appointment-form select,
.appointment-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.appointment-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appointment-form button:hover {
  background-color: #0056b3;
}

.appointment-list {
  margin-top: 20px;
}

.appointment-list h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.appointment-list ul {
  list-style: none;
  padding: 0;
}

.appointment-list li {
  margin-bottom: 8px;
}

.duration-selector {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.duration-selector button {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.duration-selector button:hover {
  background-color: #0056b3;
}

.total-sum {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  padding: 8px 12px;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}
